API_KEY=abc123def456
PASSWORD=mysecretpassword
GITHUB_TOKEN=your_personal_access_token_here


DATABASE_HOST= # Хост для базы данных для Docker
#DATABASE_HOST= # Хост для базы данных ели запускаемся через runserver
DATABASE_USER=     # Имя пользователя базы данных
DATABASE_PASSWORD=  # Пароль базы данных
DATABASE_NAME=  # Имя базы данных
DATABASE_PORT=5432


POSTGRES_USER= # Имя пользователя базы данных для Docker
POSTGRES_PASSWORD= # Пароль базы данных для Docker

SECRET_KEY=
DEBUG=

EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =

# Настройки для dj-stripe
DJSTRIPE_PUBLISHABLE_KEY=
DJSTRIPE_SECRET_KEY=

# Настройки Redis
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIMEZONE=
CELERY_ENABLE_UTC=